.Home{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotify-385bf.appspot.com/o/karolgggg.jpg?alt=media&token=28a34cd5-e83e-49c5-a019-59a282f777bb');
    background-position: top center;
    background-size: cover;
    padding: 1% 20% 45% 10%;
}
