.musicos{
    background-color: rgb(247, 170, 236);
    text-align: center;
    
}

.arriba{
    background-color: rgb(247, 170, 236);
}

.abajo{
    background-color: rgb(247, 170, 236);
}

.tarjetabajo{
    background-color: pink;
}